*{
    margin: 0;
    padding: 0;
}
/*--------DIGITALWATCH-------*/
body{
    min-height: 100vh;
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Mochiy Pop One', sans-serif;
}
.header{
    display: flex;
    flex-direction: column;
}
.mainIndex,main{
    margin-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
@media(min-width:992px){
    .mainIndex{
        margin-top: 50px;
    }
}
h1{
    font-size: 45px;
}
.date{
    font-size: 30px;
}
.hour{
    margin-top: 40px;
    font-size: 40px;
}
.mood{
    display: flex;
    justify-content: right;
    padding: 20px;
}
#blackMood,#whiteMood,#ligthmode,#darkmode{
    background-color: transparent;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 30px;
    border: none;
    font-weight: bold;
}
#blackMood,#darkmode{
    display: none;
}
div{
    margin: 10px;
}
#chronometer{
    text-decoration: none;
    padding: 8px;
    text-align: center;
    border: solid white 0.5px;
    color: white;
    border-radius: 25px;
}
#chronometer:hover{
    background-color:rgba(6, 136, 153, 0.658);
    font-weight: bold;
    color: black;
}
footer{
    font-size: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.pFooter{
    padding: 10px;
}

/*--------CHRONOMETER-------*/
.headerCH{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.back{
    padding: 20px;
}
.backText{
    font-size: 28px;
    color: white;
    text-decoration: none;
}
#startOrStop{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#start,#stop{
   background-color: transparent;
   border: none;
}
#start:active,#stop:active{
    transform: scale(0.9);
}
img{
    width: 80px;
}
#stop{
    display: none;
}
#counter{
    margin: 10px;
    font-size: 40px;
}


